/* CSS 코드 (컴파일된 SCSS) */

@keyframes drop-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.drop-animation {
  animation: drop-down 1s ease-in-out forwards;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.btn {
  padding: 10px 20px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #3498db;
}